* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f3f4f6;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.calculator {
    width: 350px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 20px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.2), -10px -10px 30px #fff;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

#value {
    grid-column: span 4;
    background-color: #eef0f5;
    text-align: right;
    padding: 20px;
    font-size: 2em;
    border-radius: 10px;
    color: #333;
    box-shadow: inset 5px 5px 20px rgba(0, 0, 0, 0.1), inset -5px -5px 20px #fff;
}

button {
    padding: 20px;
    font-size: 1.5em;
    border-radius: 10px;
    background-color: #fff;
    border: none;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1), -5px -5px 15px rgba(255, 255, 255, 0.8);
    cursor: pointer;
    transition: background-color 0.2s ease;
}

button:active {
    background-color: #dcdcdc;
    box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.1), inset -5px -5px 10px #fff;
}

button#clear {
    grid-column: span 2;
    background-color: #f44336;
    color: #fff;
}

button#plus {
    grid-row: span 2;
    background-color: #31a935;
    color: #fff;
}

button#equal {
    background-color: #2196f3;
    color: #fff;
}

button:hover {
    background-color: #e3e4e6;
}
